body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.principal{
 display: flex;
width: 600px;
justify-content: center;
border-radius: 20px;
  
}

.card_blue {
padding: 20px;
width: 40%;
border-radius: 50px;
}

.card_white{
  width: 50%;
  padding: 20px;
}

.circle{
margin-left: 65px;
}